<input type="text" id="user" placeholder="user">
<br>
<input type="text" id="userEmail" placeholder="userEmail">
<br>
<button onclick="getCookie()">getCookie</button>
<button onclick="setCookie()">submit</button>
<script src="js/cookies.js"></script>