<form onsubmit="setCookie(event)">
    <input id="user" placeholder="enter your user">
    <br>
    <input id="userEmail" placeholder="enter your userEmail">
    <br>
    <input type="submit" value="submit">
    <button onclick="getCookie()">getCookie</button>
</form>

<script src="js/cookies.js"></script>