<h1>User Login</h1>
<form onsubmit="login(event)">
    <input type="email" name="form-email" id="form-email" placeholder="e-mail">
    <input type="password" name="form-password" id="form-password" placeholder="Password">
    <br>
    <input type="submit" value="Login">
</form>
<script src="../../js/login.js"></script>