<h1>User Profile</h1>
<div class="profile">
    <p>Name: {{name}}</p>
    <p>Lastname: {{lastname}}</p>
    <p>Age: {{age}}</p>
    <p>Email: {{email}}</p>
    <button onclick="logout()">Log out</button>
</div>
<button onclick="window.location.href='/products'" class='centeredBtn'>¡Buy some products!</button>
<script src="../../js/index.js"></script>