{{#if wrongToken}}
<div>
    <h1>This link has expired or it's invalid</h1>
    <h1><a href="http://localhost:8080/api/sessions/login">Click here to create a new one</a></h1>
</div>
{{else}}
<div>
    <h1>Please enter your new password</h1>
    <form onsubmit="restore(event)">
        <input type="hidden" name="form-email" id="form-email" value={{email}}>
        <input type="password" name="form-password" id="form-password" placeholder="New password">
        <input type="password" name="form-password2" id="form-password2" placeholder="Repeat password">
        <input type="submit" value="restore">
    </form>
</div>
{{/if}}
<script src="../../../js/login.js"></script>