<h1>User Registration</h1>
<form onsubmit="register(event)">
    <input type="text" name="form-name" id="form-name" placeholder="Name">
    <input type="text" name="form-lastname" id="form-lastname" placeholder="Lastname">
    <input type="email" name="form-email" id="form-email" placeholder="e-mail">
    <input type="number" name="form-age" id="form-age" placeholder="Age">
    <input type="password" name="form-password" id="form-password" placeholder="Password">
    <br>
    <input type="submit" value="Register">
</form>
<button onclick="window.location.href='/api/sessions/login'" class="centeredBtn">Login / Profile</button>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="../../js/register.js"></script>