h1{
    text-align: center;
}
h1 > a {
    color: blue;
    cursor: pointer;
    font-weight: bold;
}
form {
    display: flex;
    gap: 1vw;
    flex-direction: column;
    align-items: center;
    margin: 2vw;
}
form > p > a{
    color: blue;
    cursor: pointer;
}
form > input {
    width: 20vw;
}
.table {
    border: 1px solid;
    width: 100%;
}
th {
    border: 1px solid;
    color: white;
    background-color: black;
}
td {
    border: 1px solid;
    text-align: center;
}
tr:hover {
    background-color: lightgray;
}
.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons{
    display: flex;
    justify-content: space-around;
}